
			<div id="site-footer" class="v1" >

				<div class="mid">
					<div class="container">
						<div class="row">
							<div class="col-sm-3">
								<div>
									<img style="width: 100%;" alt="Budgetbet" src="assets/img/logo.png">	
								</div>
							</div>
							<div class="col-sm-6">	
								<p class="text_white">Lorem ipsum dolor sit amet, enim ac quis lectus in, pharetra lorem sodales metus tortor, risus duis magnis magna lacus convallis, quis wisi et, volutpat pretium.</p>
								<p class="text_white">Lectus dolor quisque in ante cum nulla. Sagittis suspendisse, commodo nonummy ultrices nisl hac massa vestibulum, volutpat laoreet donec in, aliquet ridiculus praesent nullam in semper</p>
							</div>
							<div class="col-sm-3">
								<img  alt="Budgetbet" src="assets/img/AustraliaIcon.png">								
							</div>
						</div>
						<div class="row" style="padding-bottom: 50px;">
							<div class="col-sm-3">
								<div >
									<p class="text_white" style="font-size: 16px;">Customer Support</p>
									<p><a style="color: #FFCE02; font-size: 16px; font-weight: 800;" href="mail:#admin@budgetbet.com">admin@budgetbet.com</a></p>
								</div>
							</div>
							<div class="col-sm-6">	
								<div >
									<p class="text_white" style="font-size: 16px;">Join our social community</p>
									<ul class="social">
										<li><a style="color: #FFCE02; font-size: 16px; font-weight: 800;" href="javascriprt:void(0);"><i class="fa fa-facebook"></i></a></li>
										<li><a style="color: #FFCE02; font-size: 16px; font-weight: 800;" href="javascriprt:void(0);"><i class="fa fa-twitter"></i></a></li>
										<li><a style="color: #FFCE02; font-size: 16px; font-weight: 800;" href="javascriprt:void(0);"><i class="fa fa-dribbble"></i></a></li>
										<li><a style="color: #FFCE02; font-size: 16px; font-weight: 800;" href="javascriprt:void(0);"><i class="fa fa-dribbble"></i></a></li>
										<li><a style="color: #FFCE02; font-size: 16px; font-weight: 800;" href="javascriprt:void(0);"><i class="fa fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-3">
								
							</div>
						</div>
						<div class="row" style="padding-top: 50px; border-top: 1px solid #fff;">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-4">
										<aside class="widget">
											<h5 class="widget-title text_white">Budget bet</h5>
											<div class="textwidget text_white">
												<ul>
													<li><a class="text_white" href="#/aboutus">About us</a></li>
													<li><a class="text_white" href="#/regulator">Regulators</a></li>
												</ul>
											</div>
										</aside>
									</div>
									<div class="col-sm-4">
										<aside class="widget">
											<h5 class="widget-title text_white">Questions</h5>
											<div class="textwidget text_white">
												<ul>
													<li><a class="text_white" href="#/support">Support</a></li>
												</ul>
											</div>
										</aside>										
									</div>
									<div class="col-sm-4">
										<aside class="widget">
											<h5 class="widget-title text_white">Quick Links</h5>
											<div class="textwidget text_white">
												<ul>
													<li><a class="text_white" href="#/credit_policy">Credit Policy</a></li>
													<li><a class="text_white" href="#/terms_and_conditions">Terms & Conditions</a></li>
													<li><a class="text_white" href="#/privacy_policy">Privacy Policy</a></li>
													<li><a class="text_white" href="javascriprt:void(0);">Responsible Gambling</a></li>
												</ul>
											</div>
										</aside>
									</div>
								</div>
							</div>
							<div class="col-sm-6">	
								<div >
									<div class="row">
										<div class="col-sm-6">
											<aside class="widget">
												<h5 class="widget-title text_white">Deposit Options</h5>
												<div class="textwidget text_white">
													<img src="assets/img/visalogo.png">
													<img src="assets/img/mastercardlogo.png">
													<img src="assets/img/PayPallogo.png">
													<img src="assets/img/BPaylogo.png">
												</div>
											</aside>
										</div>
										<div class="col-sm-6">
											<aside class="widget">
												<h5 class="widget-title text_white">Mobile Apps</h5>
												<div class="textwidget text_white">
													<img src="assets/img/Appstorelogo.png">
												</div>
												<div class="textwidget text_white">
													<img style="padding-top: 20px;" src="assets/img/AppstoreIcon.png">
												</div>
											</aside>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div><!-- .container -->
				</div><!-- .mid -->
				<div class="text-center row" style="height: 70px;background-color: #00833E;">
					<p class="text_white" style="padding-top: 10px;margin: 0px;">18+ Only. Is gambling a problem for you? Gamble Responsibly. Gambling Help 1800 858 858</p>
					<p class="text_white" style="margin: 0px;">© 2017 Budget Bet Pty Ltd.</p>
				</div>			
			</div><!-- #site-footer  -->
		
		