	
	<app-ui-top-navigation></app-ui-top-navigation>


<section class = "profile_setting" style="    padding: 50px 0px;">
	<div id="signupbox" class="col-md-3 ">	</div> 
	<div id="signupbox" class="marTop50 mainbox col-md-6 ">
	    <div>
			<h1 style="padding-bottom: 30px;"> Profile Security Settings  </h1>
		</div>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
 
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
				<a class="collapsed myCollapsed" (click)="collapseOC()"> 
				Change Current Password
				</a>
				</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
					<div>
							<div> 
							<label class="font_size_16 text_black"> Old Password </label>
							</div>
						    <div class ="row">
								<div class ="col-sm-9">
									<input type="email" required class="form-control" id="oldpassword" name="oldpassword" [(ngModel)]="oldpassword"  placeholder="Enter old password "> 
								</div>
							</div>
						</div>
						<div>
							<div> 
							<label class="font_size_16 text_black"> New Password </label>
							</div>
						    <div class ="row">
								<div class ="col-sm-9">
									<input type="email" required class="form-control" id="newpassword" name="newpassword"  [(ngModel)]="newpassword" placeholder="Enter new password "> 
								</div>	
							</div>
						</div>
						<div>
							<div> 
							<label class="font_size_16 text_black">  Confirmed New Password </label>
							</div>
						    <div class ="row">
								<div class ="col-sm-9">
									<input type="email" required class="form-control" id="confirmed_password" name="confirmed_password" [(ngModel)]="confirmed_password"  placeholder="Enter new password "> 
								</div>	
								<div class ="col-sm-3">
								<button id="btn-signup" type="submit" class="btn bg_yellow text_black border_radius0" (click)="updatePassword()">Update</button>  
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
				<a class="collapsed myCollapsed"(click)="collapseOC()" > 
				Securate Question(s)
				</a>
				</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
						<div class ="pad_50">
							<div> 
							<label class="font_size_16 text_black"> Change Your Securate Question(s) </label>
							</div>
						    <div class ="row">
								<div class ="col-sm-9">
									<input type="email" required class="form-control" id="changepassword" name="changepassword"  placeholder="Enter password ">  <!-- [(ngModel)]="changepassword"-->
								</div>	
								<div class ="col-sm-3">
								<button id="btn-signup" type="submit" class="btn bg_yellow text_black border_radius0" >Update</button>  <!-- (click)="updateAlternateContactNumber()" -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
			
		</div>
	</div>
	<div id="signupbox" class="col-md-3 ">	</div> 
</section>


<div class="clearfix"></div>

	<app-ui-footer-navigation></app-ui-footer-navigation>
