<app-ui-top-navigation></app-ui-top-navigation>
<div class="wrapper">
	<div class="container-fluid"> 
		<div class="row display_flex">
			<div class="col-sm-1" style="background-color: #035C2E;">
				<div style="padding-top: 25px;">&nbsp;</div>
				<div class="user_main_header"><img src="assets/img/B_logo.png"></div>
				<div class="user_main_header"><img src="assets/img/user.png"></div>
				<div class="user_main_header"><img src="assets/img/wallet.png"></div>
				<div class="user_main_header"><img src="assets/img/send_icon.png"></div>
				<div class="user_main_header"><img src="assets/img/setting.jpg"></div>
				<div class="user_main_header"><img src="assets/img/B_logo.png"></div>
				<div class="user_main_header"><img src="assets/img/B_logo.png"></div>
			</div>
			<div class="col-sm-11" style="padding: 0px;">	
				<section class="row display_flex" style="margin: 0px;">
					
					<div  class="marTop50 mainbox col-md-6 " style="background-color:#DFDFDF" >							
							<div class="modal-header1 topheader2">
								<div  class ="row">
									<div class="col-md-12"> 
										<div class="row" style="background: #FFCF00;height: 85px;">
											<div class="col-md-6" style="padding: 0px;"> 
												<p routerLink="/my_wallet" style=" font-weight: 700;cursor: pointer;font-size: 40px; margin: 0px; text-align: center;color: #fff;"> Deposit </p> 
											</div>
											<div class="col-md-6" style="padding: 0px;"> 
												<p  routerLink="/withdraw" style=" font-weight: 700;cursor: pointer;font-size: 40px; margin: 0px;background-color: #00843C;text-align: center;color: #333;"> Withdraw </p> 
											</div>
										</div>
										<div class="row">
											<img src="assets/img/kredit-ohne-ksv.jpg">
										</div>
							 
						
										<div class="form-group" style="    padding: 50px;">
											<label class="" style= "font-size: 16px;color: #333;"> I would Like To Withdraw <span class="required" ></span></label>
											<div>
												<input type="number" class="form-control input_height45" [(ngModel)]="withdrawamount" id="withdrawamount" name="withdrawamount" placeholder="e.g. $100">              
											</div>
											<label class="" style= "font-size: 16px;color: #333; padding-top: 10px;"> Bank Name <span class="required" ></span></label>
											<div style=" padding-bottom: 10px;">
												<select class="form-control input_height45" [(ngModel)]="userbanklist" id="userbanklist" name="userbanklist">    
													<option *ngFor="let bankdata of responseBankData;" value="{{bankdata.bank_id}}">{{bankdata.bank_name}}</option>
												</select>              

											</div>
											<div  class ="row ">
												<div class="col-md-7"> 
													<h6 class="menu-item"><a href="javascriprt:void(0);"><img src="assets/img/lockicon.png">&nbsp; Your information is secured using 2048 bit encryption</a></h6>
												</div>
												<div class="col-md-5" style=" padding-bottom: 10px;"> 
													<button style="width: 100%; padding: 13px; font-size: 16px; font-weight: 700;" id="btn-signup" type="submit" (click)="securityQuestionPopupOpen()" class="btn btn-success border_radius0 securityQuestionPopupOpen"><i class="icon-hand-right" ></i> Withdraw </button>
												</div>
											</div>
										</div>
									</div>
									
									
								</div>
							</div>	
					
					</div> 
					<div  class="marTop50 mainbox col-md-6 table-responsive" style="background-color:#F0F0F0">
						<div>
							<h2 style="padding-bottom: 50px;text-align: center;"> My Bank </h2>
							<a  class=" btn   bankPopupOpen " href="javascript:void(0);" id="signinlink"  (click)="bankPopupOpen()">Add New</a>
						</div>
						<table class="table table-striped table-hover table-bordered">
							<thead> 
								<tr style="color:#29985F"> 
									<th>S.No.</th> 
									<th>Bank Name </th> 
									<th>Branch Code</th> 
									<th>Account No</th> 
									<th style="width: 40px">Action</th>
									
								</tr> 
							</thead>  
							<tbody> 
								<tr *ngFor="let bankdata of responseBankData; let i = index" style="color:#585858" >
									<th scope="row">{{i+1}} </th>  		
									<td>{{  bankdata.bank_name}} </td>   		
									<td>{{  bankdata.branch_code}} </td>    					
									<td>{{  bankdata.account_no}} </td>    					
									<td>
										<i class="fa fa-fw fa-edit edit_item  bankEditPopupOpen" (click)="bankEditPopupOpen(bankdata.bank_id, bankdata.bank_name, bankdata.branch_code, bankdata.account_no)" title="Edit Bank" style="cursor: pointer; font-size: 16px;"></i>   <!-- (click)="bankEditPopupOpen()"-->
										<i class="fa fa-fw fa-remove remove_company " (click)="bankRemove(bankdata.bank_id)" title="Remove Bank" style="cursor: pointer; font-size: 16px;"></i>  
									</td>   					
								</tr>
							</tbody>
						</table>
					</div> 
					
				</section>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="banksModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="box-header with-border">
						<h3 class="box-title"> Add Your Bank Here </h3>
					</div>
					<form role="form">
						<div class="box-body">
							<div class="form-group">
								<label> Name Of The Bank</label> 
								<input type="hidden" class="form-control"  [(ngModel)]="bank_id" name="bank_id" id="bank_id" placeholder=" Bank "> <!-- [(ngModel)]="bank_id"-->
								<input type="text" class="form-control" [(ngModel)]="bank_name" name="bank_name" id="bank_name" placeholder=" Bank Name "> <!-- [(ngModel)]="bank_name"-->
							</div>
							<div class="form-group">
								<label> Branch Code </label> 
								<input type="text" class="form-control" [(ngModel)]="branch_code" name="branch_code" id="branch_code" placeholder=" Branch code "> <!-- [(ngModel)]="bank_name"-->
							</div>
							<div class="form-group">
								<label> Account Number </label> 
								<input type="text" class="form-control" [(ngModel)]="account_no" name="account_no" id="account_no" placeholder=" Account no "> <!-- [(ngModel)]="bank_name"-->
							</div>
						</div>
		  <!-- /.box-body -->
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" (click)="bankSubmit()" class="btn btn-primary" >Submit</button> <!---->
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	
	
	
	<div class="modal fade" id="security_question_popup" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="box-header with-border">
						<img style="padding-top: 30px;" src="assets/img/logo.png" alt="Budgetbet" width="182" height="35" />
					</div>
					<div class="box-header with-border">
						<p class="box-title" style=" color: black;"> <strong> For your protection please enter the answer to your security question you answered when you signing up Budget Bet </strong> </p>
					</div>
					<form role="form">
						<div class="box-body">
							<div class="form-group">
								<label for="question" style="color:green"> {{security_question}} </label>
								<input type="text" class="form-control" [(ngModel)]="usersecurityanswer" name="usersecurityanswer" id="usersecurityanswer" placeholder=" Enter your answer here ">
							</div>
						</div>
		  <!-- /.box-body -->
					</form>
					<div class="row">
						<div class="col-md-6">
							<div class="modal-footer">
								{{no_of_attempts_left}} Attempts remaining our system will temporarily disable your account for 24 hours after 3 failed attempts
							</div>
						</div>
						<div class="col-md-6">
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="submit" [disabled]= "!no_of_attempts_left"  (click)="saveWithdrawAmount()" class="btn btn-success border_radius0">Confirm</button>   <!---->
							</div>
						</div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	

	

	
	
	
	
</div>

<div class="clearfix"></div>
	<app-ui-footer-navigation></app-ui-footer-navigation>
	
	
