
	<app-ui-top-navigation></app-ui-top-navigation>
<section style="    padding: 50px 0px;">
	<div id="signupbox" class="col-md-3 ">	</div> 
	<div id="signupbox" class="marTop50 mainbox col-md-6 ">
            
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title" style="display: inline;">Forgot Password</div>
				<div class="signUpTitle pull-right">
					<button class="text_white" routerLink="/register" style="background-color:transparent;border: none;" > New User </button>
				</div>
			</div>  
			<div class="panel-body" >
				<div id="err_signup_form"> </div>
				<form id="signupform" class="form-horizontal" role="form">
					
					<div class="form-group">
						<label for="user_email_f" class="col-md-3 control-label">Email<span class="required">*</span></label>
						<div class="col-md-9">
							<input type="text" class="form-control" [(ngModel)]="user_email_n" id="user_email_n" name="user_email_n" placeholder="Email Address">
						</div>
					</div>
					
					<div class="form-group">
						<!-- Button -->                                        
						<div class="col-md-offset-3 col-md-9">
							<button id="btn-signup" type="submit" class="btn btn-success"  (click)="userForgotPassword()"  ><i class="icon-hand-right"></i>Reset Password</button>
							<span style="margin-left:8px;"></span>  
						</div>
					</div>
				</form>					
			</div>
		</div>
		
		
	</div> 
	<div id="signupbox" class="col-md-3 ">	</div> 
</section>
	

<div class="clearfix"></div>
	<app-ui-footer-navigation></app-ui-footer-navigation>
