<header id="site-header" class="v1">

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-6">
					<nav id="top-menu">
						<ul class="menu">
							<li class="menu-item"><a href="javascriprt:void(0);"><img src="assets/img/lockicon.png">&nbsp; Your information is secured using 2048 bit encryption</a></li>
						</ul><!-- .menu -->
					</nav><!-- #top-menu -->
					<div class="dl-menuwrapper mobile-menu">
						
					</div>
				</div><!-- .col-md-8 -->
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="extra-info">
						<ul>
							<li><a href="#/privacy_policy"> Privacy Policy</a></li>
							<li><a href="#/support"> Support</a></li>
							<li><a href="javascriprt:void(0);"><i class="fa fa-clock-o" aria-hidden="true"></i> Wed 5 Oct - 2:00 PM AWST</a></li>
						</ul>
					</div><!-- .extra-info -->
				</div><!-- .col-md-4 -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- .top -->

	<div class="mid">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-12">
					<div class="logo text-center">
						<a href="javascriprt:void(0);" routerLink="/"><img src="assets/img/logo.png" alt="Budgetbet" width="182" height="35" /></a>
					</div><!-- .logo -->
				</div><!-- .col-md-4 -->
				<div class="col-md-7  col-xs-12" >
					<nav *ngIf="publicContent" class="navbar navbar-default search-cat border_none">
						<div class="collapse navbar-collapse">										
							<form action="" method="post" novalidate class="navbar-form navbar-left form-inline" style="text-align: center; width: 100%;" role="search">
								<div class="form-group">
									<input type="email" class="form-control border_radius0" [(ngModel)]="userEmail" id="userEmail" name="userEmail" required placeholder="Email address">
								</div>
								<div class="form-group">
									<input type="password" class="form-control border_radius0" [(ngModel)]="userPassword" id="userPassword" name="userPassword" required placeholder="Password">
								</div>
								<div class="form-group">
									<button type="submit" class="btn bg_grean border_radius0 text_white"  (click)="userLogin()">Sign up</button>
								</div>
							</form>							
						</div><!-- .navbar-collapse -->
					</nav><!-- .navbar-default --> 
					<div *ngIf="privateContent"> 
						<h3 style="margin-top: 30px; color: #fff;float: right;">Welcome {{loggedinUserName}} <button (click)="logoutUser()"  class="btn btn-default border_radius0   " style="width: auto; " >Logout</button></h3> 
					</div>
				</div><!-- .col-md-6 --> 
				<div class="col-md-2  col-xs-12">
					<div *ngIf="publicContent" class="join_now_outer text-center">
						<button class="btn bg_yellow border_radius0 text_white join_now popuptoregister"  (click)="popuptoregister()" >Join Now</button>
					</div>
					<div *ngIf="privateContent" class="join_now_outer text-center">
						<button class="btn btn-success border_radius0   "   routerLink="/profile_setting" >My Account</button>
					</div> 
				</div><!-- .col-md-2  -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- .mid -->
	<div class="clearfix"></div>
	<div class="bot">
		<div class="container">
			<div class="row">
				
				<div class="col-md-9">
					<nav id="main-menu">
						<ul class="menu">
							<li style="padding: 0px;background: #0B5C31;" class="menu-item active"><a style="color: #fff;padding: 15px 18px; border-radius: 0px;" routerLink="/"><i style="font-size: 30px;" class="fa fa-home"></i></a></li>
							<li class="menu-item"><a href="javascriprt:void(0);">SPORTS</a></li>
							<li class="menu-item "><a href="javascriprt:void(0);">RACING</a></li>
							<li class="menu-item hot"><a href="javascriprt:void(0);">TODAY’S EVENTS</a></li>	
							<li class="menu-item "><a href="javascriprt:void(0);">HOW TO </a></li>	
							<li class="menu-item "><a href="javascriprt:void(0);">LIVE BETTING</a></li>
						</ul><!-- .menu  -->
					</nav><!-- #main-menu -->
					<div class="dl-menuwrapper mobile-menu">
						<button class="dl-trigger"><i class="fa fa-bars"></i></button>
						<ul class="dl-menu">
							<li style="padding: 0px;background: #0B5C31;" class="menu-item active"><a style="color: #fff;padding: 15px 18px; border-radius: 0px;"  routerLink="/"><i style="font-size: 30px;" class="fa fa-home"></i> Home</a></li>
							<li class="menu-item"><a href="javascriprt:void(0);">SPORTS</a></li>
							<li class="menu-item "><a href="javascriprt:void(0);">RACING</a></li>
							<li class="menu-item hot"><a href="javascriprt:void(0);">TODAY’S EVENTS</a></li>	
							<li class="menu-item "><a href="javascriprt:void(0);">HOW TO </a></li>	
							<li class="menu-item "><a href="javascriprt:void(0);">LIVE BETTING</a></li>									
						</ul>
					</div><!-- /dl-menuwrapper -->
				</div><!-- .col-md-8 -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- .bot -->

</header><!-- #site-header -->
<div class="modal fade registrationModeal" id="itemsModal" role="dialog">
	<div class="modal-dialog" >
	  <!-- Modal content-->
		<div class="modal-content" >
			<div class="modal-header topheader1" >
				<button type="button" class="close close_btn" data-dismiss="modal">X</button> 
				<h3 class="modal-titles topheadertitle1 "> Join Budget Bet</h3>
			</div> 
			<div class="modal-header topheader2">
				<div  class ="row">
					<div class="col-md-6"> 
						<span style="color: white;">
							<span class="header_span">1.</span> 
							<span style="font-size: 20px;">Create an Account </span> 
						</span> 
					</div>
					<div class="col-md-6" style="opacity: .5;">
						<span style="color: white;"> 
							<span class="header_span">2.</span> 
							<span style="font-size: 20px;">Deposit & Start Batting </span>
						</span>
					</div>
				</div>
			</div>
			    
			<div class="modal-body" style="padding:40px;">
				<div class="row1">							
					<form>
					  <div class="form-group has-feedback">
						<div class="radio">
						  <label class="radio_input">
							<input type="radio" name="mrandms" id="optionsRadios1" value="Mr." checked> Mr.							
						  </label>
						  <label class="radio_input">
							<input type="radio" name="mrandms" id="optionsRadios2" value="Ms.">Ms.
						  </label>
						</div>
					  </div>  
					  <div class="form-group has-feedback">
						<div class="">
							<label for="firstname" class=" control-label" >First name</label>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<input id="firstname" [(ngModel)]="firstname"  name="firstname" type="text" class="form-control " placeholder="e.g. John">
							</div>
							<div class="col-sm-6">
								<input id="lastname" [(ngModel)]="lastname" name="lastname" type="text" class="form-control " placeholder="e.g. khan">
							</div>
						</div>
					  </div> 
					  <div class="form-group has-feedback">
						<div class="">
							<label for="dateofbirth" class=" control-label" >Birthday</label>
						</div>										
						<div class="">
							<input id="dateofbirth" [(ngModel)]="dateofbirth"  name="dateofbirth" type="text" class="form-control date" placeholder="date">
						</div>
					  </div> 
						<div class="form-group has-feedback">
							<div class="">
								<label for="company_name" class=" control-label" >Where do you live</label>
							</div>	
							<div class="">
								<input id="rapidAddress" [(ngModel)]="rapidAddress"  name="rapidAddress" type="text" class="form-control " placeholder="Where do you live">
							</div>
						</div>  
					  
					  <div class="form-group has-feedback">
						<div class="">
							<label for="user_email" class=" control-label" >Email address</label>
						</div>										
						<div class="">
							<input id="user_email" [(ngModel)]="user_email"  name="user_email" type="text" class="form-control " placeholder="e.g. john@gmail.com">
						</div>
					  </div> 
					  
					  <div class="form-group has-feedback">
						<div class="">
							<label for="user_name" class=" control-label" >Create a username</label>
						</div>										
						<div class="">
							<input id="user_name" [(ngModel)]="user_name"   name="user_name" type="text" class="form-control " placeholder="e.g. johnb">
						</div>
					  </div> 
					  
					  <div class="form-group has-feedback">
						<div class="">
							<label for="passwd" class=" control-label" >Create Password</label>
						</div>										
						<div class="">
							<input id="passwd" [(ngModel)]="passwd"   name="passwd" type="text" class="form-control " placeholder="6 - 12 characters">
						</div>
					  </div> 
					  
					  <div class="form-group has-feedback">
						<div class="">
							<label for="cfm_passwd" class=" control-label" >Confirm Password</label>
						</div>										
						<div class="">
							<input id="cfm_passwd" [(ngModel)]="cfm_passwd"   name="cfm_passwd" type="text" class="form-control " placeholder="6 - 12 characters">
						</div>
					  </div> 
					  <div class="form-group has-feedback">
						<div class="">
							<label for="termsandconditions"  class=" control-label" >Terms & Conditions</label>
						</div>										
						<div class="">
							<label>
							  <input type="checkbox"  checked [(ngModel)]="termsandconditions" id="termsandconditions" name="termsandconditions"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</label>
						</div> 
					  </div> 
					  
					  <div class="row form-group ">
						  <button  type="button" class="join_budget_popup btn  btn-block btn-flat addSubmitBtn bg_yellow"  (click)="userRegistration()"  >JOIN BUDGET BET</button>
						 
					  </div>
					  <div class="row form-group " style="text-align: center; padding: 25px;">
						<a href="javascriprt:void(0);"><img _ngcontent-c2="" src="assets/img/lockicon.png">&nbsp; Your information is secured using 2048 bit encryption</a>
						 
					  </div>
					  
					</form>	
				</div>
			</div>
		</div>
	</div>
</div>
