<div style="padding-top: 25px;">&nbsp;</div>
<div class="user_main_header"><img src="assets/img/B_logo.png"></div>
<div class="user_main_header"  routerLink="/profile_setting"><img src="assets/img/user.png"></div>
<div class="user_main_header" routerLink="/my_wallet"><img src="assets/img/wallet.png"></div>
<div class="user_main_header"><img src="assets/img/send_icon.png"></div>
<div class="user_main_header"><img src="assets/img/setting.jpg"></div>
<div class="user_main_header"><img src="assets/img/B_logo.png"></div>
<div class="user_main_header"><img src="assets/img/B_logo.png"></div>
					