<app-ui-top-navigation></app-ui-top-navigation>
<div class="wrapper">
	<div class="container-fluid"> 
		<div class="row display_flex">
			<div class="col-sm-1" style="background-color: #035C2E;">
				<app-ui-sub-navigation></app-ui-sub-navigation> 
			</div>
			<div class="col-sm-11" style="padding: 0px;">	
				<section class="row display_flex" style="margin: 0px;">
					
					<div  class="marTop50 mainbox col-md-6 " style="background-color:#DFDFDF" >							
							<div class="modal-header1 topheader2">
								<div  class ="row">
									<div class="col-md-12"> 
										<div class="row" style="background: #00843C;height: 85px;">
											<div class="col-md-6" style="padding: 0px;"> 
												<p routerLink="/my_wallet" style="cursor: pointer;font-size: 40px; margin: 0px; text-align: center;color: #fff;font-weight: 700;"> Deposit </p> 
											</div>
											<div class="col-md-6" style="padding: 0px;"> 
												<p routerLink="/withdraw" style="cursor: pointer;font-size: 40px; margin: 0px;background-color: #FFCF00;text-align: center;color: #333;font-weight: 700;"> Withdraw </p> 
											</div>
										</div>
										<div class="row">
											<img style="width: 100%;" src="assets/img/deposit-options-cards.png">
										</div>
							
						
										<div class="form-group" style="    padding: 50px;">
											<label class="" style= "font-size: 16px;color: #333;"> I would Like to deposit <span class="required" >*</span></label>
											<div>
												<input type="number" class="form-control input_height45" id="amount" [(ngModel)]="amount" name="amount" placeholder="e.g. $100">              
											</div>
											<div class="radio">
												<label class="radio_input" style= "font-size: 16px;color: #333;">
													<input type="radio" name="mrandms" id="optionsRadios1" value="Mr." checked> Depost via Stripe.							
												</label>
											</div>
											
											
											<div  class="">
												<div>     
													<label class="" style= "font-size: 16px;color: #333;"> Card Number <span class="required" >*</span></label>
												</div>
												<div>
													<input type="text" class="form-control input_height45" id="cardnumber" [(ngModel)]="cardnumber" name="cardnumber" placeholder="Card number">             
												</div>
											</div>
											<div  style="padding-top: 10px;">
												<div>         
													<label class="" style= "font-size: 16px;color: #333;"> Expiration (MM/YY) <span class="required" >*</span></label>
												</div>
												<div  class ="">
													<div class="col"> 
														<select class="form-control input_height45" style="display: initial; width: 35%;" [(ngModel)]="expmonth" id="expmonth" name="expmonth">
															<option value="01">01</option>
															<option value="02">02</option>
															<option value="03">03</option>
															<option value="04">04</option>
															<option value="05">05</option>
															<option value="06">06</option>
															<option value="07">07</option>
															<option value="08">08</option>
															<option value="09">09</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
														</select>/
														<select class="form-control input_height45" style="display: initial; width: 35%;" [(ngModel)]="expyear" id="expyear" name="expyear">
															<option value="17">17</option>
															<option value="18">18</option>
															<option value="19">19</option>
															<option value="20">20</option>
															<option value="21">21</option>
															<option value="22">22</option>
															<option value="23">23</option>
															<option value="24">24</option>
															<option value="25">25</option>
															<option value="26">26</option>
															<option value="27">27</option>
															<option value="28">28</option>
															<option value="29">29</option>
															<option value="30">30</option>
															<option value="31">31</option>
															<option value="32">32</option>
															<option value="33">33</option>
															<option value="34">34</option>
															<option value="35">35</option>
															<option value="36">36</option>
															<option value="37">37</option>
															<option value="38">38</option>
															<option value="39">39</option>
															<option value="40">40</option>
														</select>
													</div>					
												</div>
											</div>

											<div  class ="row" style="padding-top: 20px;">
												<div class="col-md-7"> 
													<h6 class="menu-item"><a href="javascriprt:void(0);"><img src="assets/img/lockicon.png">&nbsp; Your information is secured using 2048 bit encryption</a></h6>
												</div>
												<div class="col-md-5"> 
													<button style="width: 100%; padding: 13px; font-size: 16px; font-weight: 700;" id="btn-signup" type="submit" class="btn btn-success border_radius0" (click)="saveCardDetails()"><i class="icon-hand-right" ></i> Deposit Now </button>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>	
					
					</div> 
					<div  class="marTop50 mainbox col-md-6 table-responsive" style="background-color:#F0F0F0">
						<div>
							<h2 style="padding-bottom: 50px;text-align: center;">My Deposit History</h2>
						</div>						
						<table class="table table-striped table-hover table-bordered">
							<thead> 
								<tr style="color:#29985F"> 
									<th>Transaction#</th> 
									<th>Type</th> 
									<th>Amount</th> 
									<th>Date</th> 
								</tr> 
							</thead>  
							<tbody> 
								<tr  *ngFor="let carddata of responseCardData; let i = index"  style="color:#585858" > 
									<th scope="row"> {{i+1}}</th>
									<td>{{carddata.card_type}}</td> 
									<td> ${{carddata.amount}}</td> 
									<td>{{carddata.date}}</td>   
								</tr>
								
							
							</tbody>
						</table>
						
					</div> 
					
				</section>
			</div>
		</div>
	</div>
	
	
	<!-- pop up code-->
	<div class="modal fade" id="depositnow" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="box-body" style="text-align:center">
							<h1 style="padding-top: 50px;"> <img src="assets/img/logo.png"> </h1>
							<h1> <strong>Thank you.</strong> </h1>
							<h1> <strong>Your deposit has been made</strong> </h1>
						</div>
              <!-- /.box-body -->
						<div style="text-align:center;color:#00843A;padding-top: 50px;padding-bottom: 50px;">
							<button type="button" style="font-size: 16px;font-weight: 700px" class="btn btn-success border_radius0"  data-dismiss="modal">Close</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	
	
	
	
	
	
</div>

<div class="clearfix"></div>
	<app-ui-footer-navigation></app-ui-footer-navigation>
	
	
