		     
  	<app-ui-top-navigation></app-ui-top-navigation>
	
 <style>
  
  .edit-btn {
    display: block;
    background-image: none;
    border: none;
    background-color: #C5DADD;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.btn-default {
    color: #333;
}

.btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
}

  </style>

<div class="wrapper">
	<div class="container-fluid"> 
		<div class="row display_flex">
			<div class="col-sm-1" style="background-color: #035C2E;">
				<app-ui-sub-navigation></app-ui-sub-navigation> 
			</div>
			<div class="col-sm-3" style="background-color: #EFEFEF;">
				<div style="padding-top: 50px;">&nbsp;</div>
				<div class="profile_heading profile_heading_active profile_change_event change_password_change_event  heading_main" (click)="change_password_click_event('profile_setting__main')" >   <!-- (click)="edit_user_profile_click_event()"-->
					<img style="width: 25px;" src="assets/img/user.png"> Edit user Profile 
				</div><hr>
				<div  class="profile_heading change_password_change_event heading_main" (click)="change_password_click_event('profile_setting_changepassword')">
					<img style="width: 25px;" src="assets/img/user.png" > Change Password
				</div><hr>
				<div class="profile_heading change_password_change_event security_change_event heading_main" (click)="change_password_click_event('profile_setting_security')">
					<img style="width: 25px;" src="assets/img/security_centre_w.png" > Security  
				</div><hr>
				<div  class="profile_heading change_password_change_event help_change_event heading_main" (click)="change_password_click_event('profile_setting_help')">  
					<img style="width: 25px;" src="assets/img/Help_icon.png"> Help
				</div>
			</div> 
			<div class="col-sm-6" style="background-color: #DFDFDF">
				<div>	
					<div  class="marTop50 mainbox profile_setting_common profile_setting__main">
						<div style="padding-top: 40px; padding-bottom: 30px;">
							<h1 style="padding-bottom: 30px;display: inline;font-size: 36px; font-weight: 800; padding-top: 40px;" class = "profile">Profile Settings </h1> 
							<div style="display: inline;">
								<a class="edit-profile profile-info" id="signinlink" href="javascript:void(0);" (click)="enableprofile()">( Edit)</a>	 		
								<a class="done-profile edit-profile-info display_none" id="signinlink" href="javascript:void(0);" (click)="doneprofile()">( Done )</a>		
							</div>
						</div>
						<div class=" main-content">
							<div class=" profile-container mrg">
								<div id="err_edit_profile_form" style="padding: 0 15px 0 15px;"> </div>
									<div class="style_div">
										<div class="profile-sub-heading"> <h5>Contact Information</h5> </div>
											<form id="edit-profile-form" method="post" class="form-horizontal" novalidate="novalidate">	
												<div class="form-group">
													<label class="control-label col-md-4 profile-lable" for="name"> Email  <span>:</span></label>
													<div class="col-md-8">
														<span>{{user_email}}</span>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4 profile-lable" for="name"> User Name <span>:</span></label>
													<div class="col-md-8">
														<span>{{user_name}}</span>
													</div>
												</div>
												<div class="clearfix"></div>
												<div class="profile-sub-heading"> <h5>General Information</h5> </div>
												<div class="form-group row">
													<label class="control-label col-md-4 profile-lable" for="city"> Ms / Mr<span class="required">*</span> <span>:</span> </label>
													<div class="col-md-8">
														<span class="profile-info span-city">{{mrandms}}</span>
														<div class="radio edit-profile-info display_none">
														  <label class="radio_input">
															<input type="radio" class="mrandms" name="mrandms" id="optionsRadios1" value="Mr." > Mr.							
														  </label>
														  <label class="radio_input">
															<input type="radio" class="mrandms" name="mrandms" id="optionsRadios2" value="Ms.">Ms.
														  </label>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4 profile-lable" for="firstname">First Name<span class="required">*</span> <span>:</span></label>
													<div class="col-md-8">
														<span class="profile-info span-firstname">{{firstname}}</span>
														<input  placeholder="First Name" [(ngModel)]="firstname" class="edit-profile-info form-control display_none" id="firstname" name="firstname" type="text">
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4 profile-lable" for="lastname">Last Name<span class="required">*</span> <span>:</span></label>
													<div class="col-md-8">
															<span class="profile-info span-lastname">{{lastname}}</span>
															<input placeholder="Last Name"  [(ngModel)]="lastname" class="edit-profile-info form-control display_none" id="lastname" name="lastname" type="text">
													</div>
												</div>
												<div class="clearfix"></div>
												
												<div class="clearfix"></div>
												<div class="form-group">
													<label class="control-label col-md-4 profile-lable" for="address">Address<span class="required">*</span> <span>:</span></label>
													<div class="col-md-8">
														<span class="profile-info span-address">{{rapidAddress}}</span>
														<input  [(ngModel)]="rapidAddress" class="edit-profile-info form-control display_none" id="rapidAddress" name="rapidAddress" placeholder="Address">
													</div>
												</div>
												<div class="clearfix"></div>
												
												<div class="clearfix"></div>
												<div class="form-group" style="display:none;">
													<label class="control-label col-md-4 profile-lable" for="state"> Date Of Birth<span class="required">*</span>  <span>:</span></label>
													<div class="col-md-8">
														<span class="profile-info span-state">{{dateofbirth}}</span>
														<input placeholder="Date of Birth" class="edit-profile-info form-control  date"  name="dateofbirth" value="" type="text">
														<input id="dateofbirth" [(ngModel)]="dateofbirth"  name="dateofbirth" type="text" class="form-control date" placeholder="date">
													</div>
												</div>
												
												
												<div class="form-group">
													<label class="control-label col-md-4 profile-lable" for="phone_no"> Contact Number<span class="required">*</span>   <span>:</span></label>
													<div class="col-md-8">
														<span class="profile-info span-phone_no">{{contactnumber}}</span>
														<input [(ngModel)]="contactnumber" placeholder=" Contact Number " class="edit-profile-info form-control display_none" id="contactnumber" name="contactnumber" type="number">
													</div>
												</div>	
												<div class="form-group">
													<label class="control-label col-md-4 profile-lable" for="state"> Alternate Contact Number<span class="required">*</span>  <span>:</span></label>
													<div class="col-md-8">
														<span class="profile-info span-state">{{alternatecontactnumberr}}</span>
														<input  [(ngModel)]="alternatecontactnumberr" placeholder="Alternate Contact Number" class="edit-profile-info form-control display_none" id="alternatecontactnumberr" name="alternatecontactnumberr" type="number">
													</div>
												</div>
												<div class="clearfix"></div>
												<div class="form-group">
													<div class="col-md-8  col-md-offset-4">
														<button class="btn btn-success edit-profile-info display_none" (click)="update_profile_setting()"  style="margin-top: 20px;">  Submit </button>
													</div>                            
												</div>
												<div class="clearfix"></div>
											</form> 
									</div>	
							</div>	
						</div>
					</div>
					
					
					<div class="marTop50 mainbox profile_setting_common profile_setting_changepassword display_none">
						<!--  Change pass -->
				
						<div>
							<div style="padding-top: 40px; padding-bottom: 30px;">
								<h1 style="padding-bottom: 30px;display: inline;font-size: 36px; font-weight: 800; padding-top: 40px;" class = "profile">Change Password </h1> 
								<div style="display: inline;"> </div>
							</div> 
							<div>
								<div id="err_signup_form"> </div>
								<form id="signupform" class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-md-4 profile-lable control-label" style= "font-size: 16px;color: #333;"> Old Password<span class="required" style="color:red">*</span></label>
										<div class="col-md-8">
											<input type="password" class="form-control"[(ngModel)]="oldpass"  id="oldpass" name="oldpass" placeholder="Old Password">              
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label" style= "font-size: 16px;color: #333;"> New Password<span class="required" style="color:red">*</span></label>
										<div class="col-md-8">
											<input type="password" class="form-control" [(ngModel)]="newpass"  id="newpass" name="newpass" placeholder="New Password">              
										</div>
									</div>
									<div class="form-group">
									<label for="state" class="col-md-4 control-label" style= "font-size: 16px;color: #333;"> Confirmed New Password<span class="required" style="color:red">*</span></label>
										<div class="col-md-8">
										<input type="password" class="form-control" [(ngModel)]="confnewpass" id="confnewpass" name="confnewpass" placeholder="New Password">
										</div>
									</div>
									<div class="form-group">
										<!-- Button -->      
										<div class="col-md-offset-4 col-md-8">
										<button id="btn-signup" type="submit" class="btn btn-success"  (click)="userChangePassword()"  ><i class="icon-hand-right"></i>Change Password</button>
										<span style="margin-left:8px;"></span>  
										</div>
									</div>
								</form>					
							</div>
						</div>
						
					</div>
							
						<!-- end Change pass -->
	
								
						<!-- security -->
								
					<div class="marTop50 mainbox profile_setting_common  profile_setting_security display_none">
						<div style="padding-top: 40px; padding-bottom: 30px;">
							<h1 style="padding-bottom: 30px;display: inline;font-size: 36px; font-weight: 800; padding-top: 40px;" class = "profile"> Security Questions </h1> 
							<div style="display: inline;"></div>
						</div> 
						<div>
							<div id="err_signup_form"> </div>
								<form id="signupform" class="form-horizontal" role="form">
									<div class="form-group"><label class="col-md-4 profile-lable control-label" style= "font-size: 16px;color: #333;"> Select question <span class="required" >*</span></label>
										<div class="col-md-8">
											<select class="form-control input_height45" [(ngModel)]="questionlist" id="questionlist" name="questionlist">     <!--[(ngModel)]="userbanklist" -->
												<option  *ngFor="let questiondata of responsequestionData;" value="{{questiondata.question_id}}" > {{questiondata.questionlist}}</option>               <!-- {{bankdata.bank_name}}-->
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 profile-lable control-label" style= "font-size: 16px;color: #333;"> Your Answer <span class="required">*</span></label>
										<div class="col-md-8">
											<input type="text" class="form-control" [(ngModel)]="security_answer"  id="security_answer" name="security_answer" placeholder=" Answer">        <!--  [(ngModel)]="security_answer"      -->
										</div>
									</div>
									<div class="form-group">
										<!-- Button -->      
										<div class="col-md-offset-4 col-md-8">
										<button id="btn-signup submit_security_answer" (click)="submit_security_answer()"  type="submit" class="btn btn-success"><i class="icon-hand-right"></i>Submit</button>  <!--(click)="userChangePassword()" -->
										<span style="margin-left:8px;"></span>   
										</div>
									</div>
								</form>					
						</div>
					</div>	
					<!-- End  security -->
							
					<!-- help -->
								
					<div class="marTop50 mainbox profile_setting_common  profile_setting_help display_none">
						<div style="padding-top: 40px; padding-bottom: 30px;">
							<h1 style="padding-bottom: 30px;display: inline;font-size: 36px; font-weight: 800; padding-top: 40px;" class = "profile" > What can we help you with? </h1> 
							<div style="display: inline;"></div>
						</div> 
						<!-- Main content -->
						<section class="content">
							<div class="row">
								<!-- left column -->
							   
								<!--/.col (left) -->
								<!-- right column -->
								
								
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								  
								  <div class="panel panel-default" *ngFor="let faqdata of responsefaqData">
									<div class="panel-heading" role="tab">
									  <h4 class="panel-title">
										<a class="collapsed myCollapsed" (click)="collapseOpenClose()"> {{faqdata.question}}
										</a>
									  </h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" >
										<div class="panel-body">
											{{faqdata.answer}}									  
										</div>
									</div>
								  </div>
							</div>
								<!--/.col (right) -->
							</div>
						</section>
						
														
					</div>
											
											<!-- End  help -->
				</div>	
			</div> 
			
		
			<div class="col-sm-2">
				Mentions
			</div>
		</div>
		
	</div>
	
			

		</div><!-- .wrapper -->
		



<div class="clearfix"></div>

	<app-ui-footer-navigation></app-ui-footer-navigation>
