
	<app-ui-top-navigation></app-ui-top-navigation>
			<div id="site-main">
				
				
				<div class="page-section">
					<div class="container">
						<div class="row">
							<div class="col-md-3" id="left-menu">
								<ul class="menu" style="position: initial;">
									<li class="menu-item"><a style="border-bottom: 5px solid #00833E;" href="javascriprt:void(0);"><strong style="font-size: 14px; font-weight: 700;">SPORTS</strong></a></li>
									
									<li class="menu-item" *ngFor="let spports of spportsData"><a href="#/leagues;sport={{spports.id}}"><img src="assets/img/AmericanFootball_icon.png"> {{spports.name}}</a></li>    
									
									<li class="menu-item"><a style="border-bottom: 5px solid #00833E;" href="javascriprt:void(0);"><strong style="font-size: 14px; font-weight: 700;">RACING</strong></a></li>
									<li class="menu-item"><a href="javascriprt:void(0);"><img src="assets/img/horseracing.png"> Horse Racing</a></li>
									<li class="menu-item"><a href="javascriprt:void(0);"><img src="assets/img/harness_racing.png"> Harness Racing</a></li>
									<li class="menu-item"><a href="javascriprt:void(0);"><img src="assets/img/GreyhoundRacing.png"> Greyhound Racing</a></li>
									
								</ul><!-- .menu -->
							</div>
							<div class="col-md-13 col-sm-8">
								<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">								  <!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
										<li data-target="#carousel-example-generic" data-slide-to="1"></li>
										<li data-target="#carousel-example-generic" data-slide-to="2"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
										<div class="item active">
											<img src="assets/img/517990070.jpg">
											<div class="carousel-caption" style="left: 5%;text-align: left;">
												<div style="font-size: 45px;padding-top: 15px;">Who will it be? 2017 NBA Finals</div>
												<div style="font-size: 25px;padding-top: 15px;">Lorem ipsum dolor sit amet, enim ac quis lectus in, pharetra enim ac quis lectus in, pharetra.</div>
												<div style="padding-top: 15px;"><button style="background-color: #FFCE02; border-radius: 25px; font-size: 18px; color: #333; font-weight: 700; padding: 10px 30px;" class="btn">Button</button></div>
											</div>
										</div>
										<div class="item">
											<img src="assets/img/517990070.jpg">
											<div class="carousel-caption" style="left: 5%;text-align: left;">
												<div style="font-size: 45px;padding-top: 15px;">Who will it be? 2017 NBA Finals</div>
												<div style="font-size: 25px;padding-top: 15px;">Lorem ipsum dolor sit amet, enim ac quis lectus in, pharetra enim ac quis lectus in, pharetra.</div>
												<div style="padding-top: 15px;"><button style="background-color: #FFCE02; border-radius: 25px; font-size: 18px; color: #333; font-weight: 700; padding: 10px 30px;" class="btn">Button</button></div>
											</div>
										</div>
										<div class="item">
											<img src="assets/img/517990070.jpg">
											<div class="carousel-caption" style="left: 5%;text-align: left;">
												<div style="font-size: 45px;padding-top: 15px;">Who will it be? 2017 NBA Finals</div>
												<div style="font-size: 25px;padding-top: 15px;">Lorem ipsum dolor sit amet, enim ac quis lectus in, pharetra enim ac quis lectus in, pharetra.</div>
												<div style="padding-top: 15px;"><button style="background-color: #FFCE02; border-radius: 25px; font-size: 18px; color: #333; font-weight: 700; padding: 10px 30px;" class="btn">Button</button></div>
											</div>
										</div>
									</div>

								  <!-- Controls -->
								  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								  </a>
								  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								  </a>
								</div>
								
								
								<div class="row"> 
									<h3 style="background-color: #eee; padding: 12px; margin-left: 15px; margin-right: 15px;">Next to go</h3>
									<div class="col-sm-4">
										<div class="panel panel-default" style="border-radius: 0px;">
											<div class="panel-heading">
												<h3 class="panel-title"><img src="assets/img/tennis_colour.png"> TENNIS <span style="float:right;"><img src="assets/img/clock_colour.png"> 2hrs 14min</span></h3>
											</div>
											<div class="panel-body" style="text-align: center;">
												<h4 style="background-color: #eee; padding: 7px; margin: 0px;">ATP Japan Open</h4>
												<div><strong>Feliciano Lopez</strong></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;">1.33</div>
												<div><i>VS</i></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;"><strong>James Duckworth</strong></div>
												<div>1.77</div>												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="panel panel-primary" style="border-radius: 0px;">
											<div class="panel-heading">
												<h3 class="panel-title"><img src="assets/img/tennis_colour.png"> TENNIS <span style="float:right;"><img src="assets/img/clock_colour.png"> 2hrs 14min</span></h3>
											</div>
											<div class="panel-body" style="text-align: center;">
												<h4 style="background-color: #eee; padding: 7px; margin: 0px;">ATP Japan Open</h4>
												<div><strong>Feliciano Lopez</strong></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;">1.33</div>
												<div><i>VS</i></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;"><strong>James Duckworth</strong></div>
												<div>1.77</div>												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="panel panel-success" style="border-radius: 0px;">
											<div class="panel-heading">
												<h3 class="panel-title"><img src="assets/img/tennis_colour.png"> TENNIS <span style="float:right;"><img src="assets/img/clock_colour.png"> 2hrs 14min</span></h3>
											</div>
											<div class="panel-body" style="text-align: center;">
												<h4 style="background-color: #eee; padding: 7px; margin: 0px;">ATP Japan Open</h4>
												<div><strong>Feliciano Lopez</strong></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;">1.33</div>
												<div><i>VS</i></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;"><strong>James Duckworth</strong></div>
												<div>1.77</div>												
											</div>
										</div>									
									</div>
								</div>	
								<div class="row"> 
									<div class="col-sm-4">
										<div class="panel panel-danger" style="border-radius: 0px;">
											<div class="panel-heading">
												<h3 class="panel-title"><img src="assets/img/tennis_colour.png"> TENNIS <span style="float:right;"><img src="assets/img/clock_colour.png"> 2hrs 14min</span></h3>
											</div>
											<div class="panel-body" style="text-align: center;">
												<h4 style="background-color: #eee; padding: 7px; margin: 0px;">ATP Japan Open</h4>
												<div><strong>Feliciano Lopez</strong></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;">1.33</div>
												<div><i>VS</i></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;"><strong>James Duckworth</strong></div>
												<div>1.77</div>												
											</div>
										</div>									
									</div>
									<div class="col-sm-4">
										<div class="panel panel-info" style="border-radius: 0px;">
											<div class="panel-heading">
												<h3 class="panel-title"><img src="assets/img/tennis_colour.png"> TENNIS <span style="float:right;"><img src="assets/img/clock_colour.png"> 2hrs 14min</span></h3>
											</div>
											<div class="panel-body" style="text-align: center;">
												<h4 style="background-color: #eee; padding: 7px; margin: 0px;">ATP Japan Open</h4>
												<div><strong>Feliciano Lopez</strong></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;">1.33</div>
												<div><i>VS</i></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;"><strong>James Duckworth</strong></div>
												<div>1.77</div>												
											</div>
										</div>									
									</div>
									<div class="col-sm-4">
										<div class="panel panel-warning" style="border-radius: 0px;">
											<div class="panel-heading">
												<h3 class="panel-title"><img src="assets/img/tennis_colour.png"> TENNIS <span style="float:right;"><img src="assets/img/clock_colour.png"> 2hrs 14min</span></h3>
											</div>
											<div class="panel-body" style="text-align: center;">
												<h4 style="background-color: #eee; padding: 7px; margin: 0px;">ATP Japan Open</h4>
												<div><strong>Feliciano Lopez</strong></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;">1.33</div>
												<div><i>VS</i></div>
												<div style="margin: 10px; border: 1px solid #6CA70F; padding: 5px;"><strong>James Duckworth</strong></div>
												<div>1.77</div>												
											</div>
										</div>									
									</div>
								</div>
							</div><!-- col-md-6 -->							
						</div><!-- .row -->
					</div><!-- .container -->
				</div><!-- .page-section -->
			</div><!-- #site-main -->

	<app-ui-footer-navigation></app-ui-footer-navigation>
