  	<app-ui-top-navigation></app-ui-top-navigation>


<section class = "profile_setting" style="    padding: 50px 0px;">
	<div id="signupbox" class="col-md-3 ">	</div> 
	<div id="signupbox" class="marTop50 mainbox col-md-6 ">
	    <div>
			<h1 style="padding-bottom: 30px;"> About Us  </h1>
		</div>
       
		<div [innerHTML]="content"></div>

	</div> 
	<div id="signupbox" class="col-md-3 ">	</div> 
</section>


<div class="clearfix"></div>

	<app-ui-footer-navigation></app-ui-footer-navigation>
