

  	<app-ui-top-navigation></app-ui-top-navigation>


<section style="    padding: 50px 0px;">
	<div id="signupbox" class="col-md-3 ">	</div> 
	<div id="signupbox" class="marTop50 mainbox col-md-6 ">
            
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title" style="display: inline;">Sign Up</div>
				<div class="signUpTitle pull-right">
					<a style="color: white;" class="loginbox" id="signinlink" href="javascript:void(0);">Sign In</a>
				</div>
			</div>  
			<div class="panel-body" >
				<div id="err_signup_form"> </div>
				<form id="signupform" class="form-horizontal" role="form">
					
					<div class="form-group">
						<label for="user_email" class="col-md-3 control-label">Email<span class="required">*</span></label>
						<div class="col-md-9">
							<input type="email" required class="form-control" [(ngModel)]="user_email" id="user_email" name="user_email" placeholder="Email Address">
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-md-3 control-label">First Name<span class="required">*</span></label>
						<div class="col-md-9">
							<input type="text" class="form-control" [(ngModel)]="firstname" id="firstname" name="firstname" placeholder="First Name">
						</div>
					</div>
					<div class="form-group">
						<label for="lastname" class="col-md-3 control-label">Last Name<span class="required">*</span></label>
						<div class="col-md-9">
							<input type="text" class="form-control" [(ngModel)]="lastname" id="lastname" name="lastname" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-3 control-label">Password<span class="required">*</span></label>
						<div class="col-md-9">
							<input type="password" class="form-control" [(ngModel)]="passwd" id="passwd" name="passwd" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-3 control-label">Confirm Password<span class="required">*</span></label>
						<div class="col-md-9">
							<input type="password" class="form-control" [(ngModel)]="cfm_passwd" id="cfm_passwd" name="cfm_passwd" placeholder="Confirm Password">
						</div>
					</div>
					<div class="form-group">
						<!-- Button -->                                        
						<div class="col-md-offset-3 col-md-9">
							<button id="btn-signup" type="submit" class="btn btn-success"  (click)="userRegistration()"  ><i class="icon-hand-right"></i>Sign Up</button>
							<span style="margin-left:8px;"></span>  
						</div>
					</div>
				</form>					
			</div>
		</div>
	</div> 
	<div id="signupbox" class="col-md-3 ">	</div> 
</section>
<div class="clearfix"></div>


	<app-ui-footer-navigation></app-ui-footer-navigation>
